{% extends 'base.html' %}
{% load i18n %}


{% block content %}

{% if request.user.is_authenticated %}
    {% include 'navbar_in.html' %}
{% else %}
    {% include 'navbar_out.html' %}
{% endif %}

{% block navbar %}
{% endblock %}


{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %} 
              <div class="alert alert-success" role="alert">{{ message }}</div>
        {% else %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

<br>

<main class="px-3">
    <h1>{% trans "Привет от Хекслета!" %}</h1>
    <p class="lead">{% trans "Практические курсы по программированию" %}</p>
    <p class="lead">
      <a href="https://ru.hexlet.io/my" class="btn btn-lg btn-secondary fw-bold border-white bg-white">{% trans "Узнать больше" %}</a>
    </p>
  </main>

{% endblock %}