{% extends 'base.html' %}
{% load i18n %}


{% block content %}


{% if request.user.is_authenticated %}
    {% include 'navbar_in.html' %}
{% else %}
    {% include 'navbar_out.html' %}
{% endif %}

{% block navbar %}
{% endblock %}
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %} 
              <div class="alert alert-success" role="alert">{{ message }}</div>
        {% else %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}


<main class="px-3">
<h1>{% trans "Метки" %}</h1>
<br>

<a href="{% url 'labels_create' %}" class="btn btn-secondary border-white bg-white">{% trans "Создать метку" %}</a>
<br>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">{% trans "ID" %}</th>
        <th scope="col">{% trans "Имя" %}</th>
        <th scope="col">{% trans "Дата создания" %}</th>
      </tr>
    </thead>
    {% for label in labels %}
    <tbody>
      <tr>
        <th scope="row">{{ label.pk }}</th>
        <td>{{ label.name }}</td>

        <td>{{ label.created_at|date:'Y-m-d H:i'}}</td>
        <td>
          <a class="nav-link" href="{{ label.pk }}/update/">{% trans "Изменить" %}</a>
          <a class="nav-link" href="{{ label.pk }}/delete/">{% trans "Удалить" %}</a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</main>

{% endblock %}
