{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}



{% block content %}


{% if request.user.is_authenticated %}
    {% include 'navbar_in.html' %}
{% else %}
    {% include 'navbar_out.html' %}
{% endif %}

{% block navbar %}
{% endblock %}
<br>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %} 
              <div class="alert alert-success" role="alert">{{ message }}</div>
        {% else %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

<h1>{% trans "Создать задачу" %}</h1>
<br>

<form class="form-inline center" method="post">
    {% csrf_token %}
    

  <div class="mb-2">
    <label for="exampleFormControlInput1" class="form-label">{% trans "Имя" %}</label>
    <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder={% trans "Имя" %}>
  </div>
  
  <div class="mb-3">
    <label for="id_description" class="form-label">{% trans "Описание" %}</label>
    <textarea class="form-control" name="text" id="id_description" rows="3" placeholder={% trans "Описание" %}></textarea>
  </div>

    <div class="col-md">
      <div class="col-auto my-3">
        <label class="mr-sm-2" type="text" for="id_status">{% trans "Статус" %}</label>
        <select name="status" class="form-select" id="id_status">
          <option selected>----------</option>
          {% for status in statuses %}
          <option value="{{ status.name }}">{{ status.name }}</option>
          {% endfor %}
        </select>
        <br>
        <label class="mr-sm-1" type="text" for="id_executor">{% trans "Исполнитель" %}</label>
        <select name="perfomer" class="form-select" id="id_executor">
          <option selected>----------</option>
          {% for user in users %}
          <option value="{{ user.username}}">{{ user.username }}</option>
          {% endfor %}
        </select>
        <br>
        <div class="form-group"><label for="id_labels">{% trans "Метки" %}</label>
            <select name="labels" type="text" class="form-control" id="id_labels" multiple>
              {% for label in labels %}
              <option value="{{ label.name }}">{{ label.name }}</option>
              {% endfor %}
            </select>
        </div>
        <br>
        <main class="px-3">
          <button type="submit" class="btn btn-secondary border-white bg-white">{% trans "Создать" %}</button>
          </main>
    </form>
<br>
<br>
<br>
{% endblock %}