{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}



{% block content %}


{% if request.user.is_authenticated %}
    {% include 'navbar_in.html' %}
{% else %}
    {% include 'navbar_out.html' %}
{% endif %}

{% block navbar %}
{% endblock %}
<br>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %} 
              <div class="alert alert-success" role="alert">{{ message }}</div>
        {% else %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

<h1>{% trans "Просмотр задачи" %}</h1>
<br>

<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ task.name }}</h2>
  </div>
  <div class="card-body bg-dark">
    <p>{{ task.description }}</p>
    <hr>
    <div class="container">
      <div class="row p-1">
        <div class="col">{% trans "Автор" %}:</div>
        <div class="col">{{ task.creator.username }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Исполнитель" %}:</div>
        <div class="col">{{ task.perfomer.username }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Статус" %}:</div>
        <div class="col">{{ task.status.name }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans "Дата создания" %}:</div>
        <div class="col">{{ task.created_at|date:'Y-m-d H:i'}}</div>
      </div>
      <div class="row p-1">
        <div class="col">
          <h6>{% trans "Метки" %}:</h6>
            {% for label in task.labels.all %}
            {{ label.name }}
            {% endfor %}
        </div>
      </div>
        <br>
        <br>
          <a class="nav-link" href="update/">{% trans "Изменить" %}</a>
          <a class="nav-link" href="delete/">{% trans "Удалить" %}</a>
    </div>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}