{% extends 'base.html' %}
{% load i18n %}


{% block content %}

{% if request.user.is_authenticated %}
    {% include 'navbar_in.html' %}
{% else %}
    {% include 'navbar_out.html' %}
{% endif %}

{% block navbar %}
{% endblock %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %} 
              <div class="alert alert-success" role="alert">{{ message }}</div>
        {% else %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}

<main class="px-3">
<h1>{% trans "Пользователи" %}</h1>
<br>

<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">{% trans "ID" %}</th>
        <th scope="col">{% trans "Имя пользователя" %}</th>
        <th scope="col">{% trans "Полное имя" %}</th>
        <th scope="col">{% trans "Дата создания" %}</th>
      </tr>
    </thead>
    {% for user in users %}
    <tbody>
      <tr>
        <th scope="row">{{ user.pk }}</th>
        <td>{{ user.username }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.date_joined|date:'Y-m-d H:i'}}</td>
        <td>
          <a class="nav-link" href="{{ user.pk }}/update/">{% trans "Изменить" %}</a>
          <a  class="nav-link" href="{{ user.pk }}/delete/">{% trans "Удалить" %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
