{% load i18n %}

<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">{% trans "Менеджер задач" %}</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'users' %}">{% trans "Пользователи" %}</a>
            <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'login' %}">{% trans "Статусы" %}</a>
            <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'signup' %}">{% trans "Метки" %}</a>
            <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'login' %}">{% trans "Задачи" %}</a>
            <form action="{% url 'logout' %}" method="post"> {% csrf_token %}
              <button class="btn border-white bg-white" type="submit">{% trans "Выход" %}</button>
            </form>
          </nav>
        </div>
      </header>
  </body>